navbar-header {
  color: #f0a500;
  background-color: #4a3933;
}

section level1 vertical-layout-fill dashboard-row-orientation {
  background-color: #4a3933;
}

section sidebar {
  background-color: #e6d5b8;
}
